@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
:root{
  --tran:0.7s ease;
}
@keyframes color{
  0% {
      color: #ffbdbd;
  }

  20% {
      color: #b882ff;
  }

  40% {
      color: #000000;
  }

  60% {
      color: #000000;
  }

  80% {
      color: #b882ff;
  }

  100% {
    color: #ffbebe;
}
}
*{
  box-sizing: border-box;
  font-family: 'Bebas Neue', cursive;
  text-transform: uppercase;
  --tran:all 0.5s ease;
}

body{
  height: 100vh;
  width: 100%;
  font-family: 'Bebas Neue', cursive;
  padding-right: 10px;
}
.nav-tab{
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  width: 100%;
  flex-direction: row;
  padding: 5px;
  border-bottom: 1px solid black;
}

.nav-tab .image-text{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 3px;
  height: 60px;
  width: 60px;
  
}
.nav-tab > .image-text img{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 40px;
  border-radius: 90%;
}
.nav-tab .text{
 font-size: 17px;
 color: rgb(0, 0, 0);
}
.nav-tab .text:hover{
  font-size: larger;
  letter-spacing: 1px;
  color: rgb(0, 0, 0);
  transition: var(--tran);
}
.nav-tab .menu-bar{
 display: flex;
 align-items: center;
 justify-content:center;
 letter-spacing: 1px;
 padding: 20px;
}
.nav-tab .menu{
  font-size: 20px;
 display: flex;
 align-items: center;
 justify-content: center;
 gap: 10px;

}
.nav-tab > .menu-bar a{
  color: rgb(255, 198, 198);
  text-decoration: none;
  animation: color 10s infinite;
}
.nav-tab > .menu-bar a:hover{
  letter-spacing: 3px;
  font-size: 17px;
  transition: var(--tran);
  animation: color 30s infinite;
}


@keyframes bgcolor{
  0% {
      background-color: #ffbdbd;
  }

  20% {
      background-color: #b882ff;
  }

  40% {
      background-color: #50b9ff;
  }

  60% {
      background-color: #50b9ff;
  }

  80% {
      background-color: #d08dff;
  }

  100% {
    background-color: #ffbebe;
}
}
    .container {
      padding: 5px;
      display: flex;
      flex-direction: column;
      align-items: center;
      transition: var(--tran);
    }

    .art{
      position: relative;
      width: 100%;
      height: 90vh;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      border-radius: 7px;
    }
    form {
      display: flex;
      height: fit-content;
      flex-direction: row;
      align-items: center;
      gap: 10px;
      margin-top: 25px;
      flex-wrap: nowrap;
      align-content: space-around;
      justify-content: space-around;
      width: 50svw;
    }

    input[type="text"] {
      font-size: 20px;
      padding: 10px;
      border-radius: 5px;
      border: none;
      font-family: 'Bebas Neue', cursive;
      text-align: center;
    }

    input[type="submit"],
    input[type="button"] {
      padding: 10px 20px;
      background-color: rgba(0, 255, 251, 0.747);
      animation: bgcolor 10s infinite;
      color: rgb(0, 0, 0);
      border: none;
      border-radius: 50px;
      cursor: pointer;
      font-family: 'Bebas Neue', cursive;
      font-size: 20px;
    }
input[type="button"]:hover{
      transition: var(--tran);
      letter-spacing: 2px;
      font-size: 10px;
      text-overflow: inherit;
      color: rgb(255, 255, 255);
    }
input[type="submit"]:hover{
      transition: var(--tran);
      letter-spacing: 2px;
      font-size: 10px;
      text-overflow: inherit;
      color: rgb(255, 255, 255);
}
input[type="text"]:hover{
  animation: color 20s infinite;
  letter-spacing: 1px;
}