@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans+Extra+Condensed:wght@200&family=Unica+One&display=swap');
    body{
        display: flexbox;
        align-items: center;
        justify-content: center;
        background-size: cover;
        font-family: 'Unica One', cursive;
    }
    .container {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 1px;
    }

    .art {
      width: 100%;
      height: 90vh;
      background-size: cover;
      background-position: center;
      border-radius: 1%;
    }

    form {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-top: 20px;
    }

    input[type="text"] {
      padding: 10px;
      border-radius: 5px;
      border: none;
      margin-right: 10px;
      font-family: 'Sofia Sans Extra Condensed', sans-serif;
    }

    input[type="submit"],
    input[type="button"] {
      padding: 10px 20px;
      background-color: rgba(0, 255, 251, 0.747);
      color: rgb(0, 0, 0);
      border: none;
      border-radius: 50px;
      cursor: pointer;
      font-family: 'Unica One', cursive;
    }